<template>
    <div id="app">
        <chat-container/>
    </div>
</template>

<script>
    import ChatContainer from './ChatContainer.vue';

    export default {
        name: 'App',
        components: {
            ChatContainer,
        },
    };

</script>

<style>
    #app {
        font-family: Helvetica;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #454d54;
        margin-top: 60px;
    }
</style>
