<template>
    <div class="chat-container">
        <div class="heading">
            <h1>🐼 PandChat</h1>
        </div>
        <div class="body">
            <div class="chat-history">
                <chat-log></chat-log>
            </div>
            <div class="chat-commands">
                <message-input></message-input>
            </div>
        </div>
    </div>
</template>

<script>
    import ChatLog from './ChatLog.vue';
    import MessageInput from './MessageInput.vue';
    import {mapActions} from 'vuex';

    export default {
        name: 'chat-container',
        components: {
            ChatLog,
            MessageInput,
        },
        mounted() {
            this.initChat();
        },
        methods: {
            ...mapActions(['initChat'])
        }
    };
</script>

<style scoped>
    h1 {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        font-size: 16px;
        font-weight: normal;
    }

    .chat-container {
        display: table;
        max-width: 400px;
        min-width: 300px;
        width: 25%;
        height: 500px;
        margin: auto;
        background-color: #FFFFFF;
        border: solid 1px #BFBFBF;
        border-radius: 3px;
    }

    .heading {
        display: table;
        width: 100%;
        height: 28px;
        text-align: center;
        border-radius: 3px 3px 0 0;
        -ms-user-select: none;
        user-select: none;

        border-bottom: 1px solid lightgray;
    }

    .body {
        display: flex;
        flex-direction: column;
        width: auto;
        height: inherit;
        overflow: hidden;
    }

    .chat-history {
        flex: 1;
        display: flex;
        overflow: hidden;
        padding: 5px;
    }
</style>
