<template>
    <div class="message-input">
        <button v-for="answer in possibleAnswers" v-on:click="response(answer)">
            {{ answer.message }}
        </button>
        <button v-if="possibleAnswers.length === 0" v-on:click="resetChat">
            Démarer une nouvelle conversation
        </button>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: 'message-input',
        computed: {
            ...mapGetters({
                possibleAnswers: 'getPossiblesAnswers',
            }),
        },
        methods: {
            ...mapActions({
                resetChat: 'initChat',
                response: 'answer'
            })
        },
    };
</script>

<style scoped>
    .message-input {
        padding: 5px;
        padding-bottom: 0;
        border-top: 1px solid lightgray;
    }

    .message-input button {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 8px;
        background: white;
        border: 1px solid lightblue;
        cursor: pointer;
    }

    .message-input button:hover {
        background: lightblue;
    }
</style>
