<template>
    <div class="message-bubble">
        <div class="avatar"></div>
        <span class="message-text" v-html="text"></span>
    </div>
</template>

<script>
    export default {
        name: 'message-bubble',
        props: ['text'],
        data() {
            return {};
        },
    };
</script>

<style scoped>
    .message-bubble {
        display: flex;
        margin-bottom: 4px;
        float: left;
        clear: both;
    }

    .message-text {
        padding: 8px;
        margin: 4px;
        text-align: left;
        background-color: #dfdfdf;
        border-radius: 4px;
    }

    .message-bubble .avatar {
        background: url('/images/panda.jpg');
        min-width: 50px;
        height: 50px;
        background-size: 50px;
    }

    .message-bubble:nth-child(2n) {
        float: right;
        flex-direction: row-reverse;
    }

    .message-bubble:nth-child(2n) .avatar {
        background: none;
        min-width: 0;
    }

    .message-bubble:nth-child(2n) .message-text {
        background-color: #9ec6f5;
    }

    .message-bubble span {
        display: block;
        max-width: 75%;
    }
</style>
